<header class="w-100 d-flex justify-content-center">
  <nav class="d-flex w-75 h-100 px-4 px-md-1 align-items-center justify-content-between">
    <img src="/images/logo.png" alt="Groupama Logo">
    <div class="d-flex align-items-center gap-2">
      <div class="dots-icon me-2 d-flex d-md-none align-items-center justify-content-center rounded-circle"><i class="bi bi-three-dots"></i></div>
      <img src="/images/signout-button.png" alt="Signout Button">
      <span class="d-none d-md-flex">Kilépés</span>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>