// Breakpoints
$sm: 576px
$md: 768px
$lg: 992px
//

$custom-text-color: rgba(40, 49, 104, 1)

.background
    background-color: rgba(241, 242, 244, 1)

    .custom-container
        min-height: 100vh

        .left-info-section
            height: 100vh !important
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px

            h5
                color: $custom-text-color

        .payment-section
            .navigation
                height: 107px
                position: relative
                label
                    display: flex
                    align-items: center
                    position: relative
                    z-index: 10
                    height: calc(100% + 6px)
                    color: $custom-text-color
                    cursor: pointer
                    user-select: none
                    transition: font-weight .3s ease
                .radio
                    display: none
                    &:checked + label
                        font-weight: 600
                        &::after
                            content: ''
                            position: absolute
                            bottom: 0
                            left: 0
                            width: 100%
                            height: 3px
                            background-color: rgba(1, 187, 161, 1)
                            border-radius: 10px
                            animation: fillBorder .3s ease-out forwards

        @keyframes fillBorder
            0%
                width: 0%
            100%
                width: 100%
        
        @media screen and (max-width: $md)
            width: 100% !important