<div class="background w-100 d-flex align-items-center justify-content-center">
    <div class="custom-container w-75 d-flex">
        <div class="left-info-section pb-4 pt-2 w-auto d-none d-md-flex flex-column align-items-center bg-white" role="region" aria-labelledby="info-section-title">
            <h1 class="w-100 fs-5 px-4 py-3 border-bottom">Folyamatos Díjfizetésű Ultra Prémium Életbiztosítás</h1>
            <div class="w-100 h-100 p-4">
                <section>
                    <span>Szerződő neve</span>
                    <p aria-label="Szerződő neve">Kovács István</p>
                    <span>Szerződésszám</span>
                    <p aria-label="Szerződésszám">87562443</p>
                    <span>Utolsó befizetés</span>
                    <p aria-label="Utolsó befizetés">2019. 06. 25.</p>
                    <span>Biztosítási díj rendezve</span>
                    <p aria-label="Biztosítási díj rendezve">2019. 07. 01.</p>
                </section>
            </div>
        </div>
        <div class="payment-section h-100 w-100 mx-3 mx-md-0 ms-md-4" role="region" aria-labelledby="payment-navigation">
            <nav class="navigation pt-2 pt-md-0 gap-3 gap-md-5 d-flex align-items-center justify-content-evenly justify-content-md-start border-bottom border-3 text-center" role="tablist">
                <input type="radio" id="item" name="selection" class="radio" aria-labelledby="item-label">
                <label id="item-label" [routerLink]="['./items']" for="item" appEnterPress>Fizetendő tételek</label>
            
                <input type="radio" id="payment" name="selection" class="radio" aria-labelledby="payment-label">
                <label id="payment-label" [routerLink]="['./case-fee']" for="payment" appEnterPress>Eseti díj befizetése</label>
            
                <input type="radio" id="history" name="selection" class="radio" aria-labelledby="history-label" checked>
                <label id="history-label" [routerLink]="['./history']" for="history" appEnterPress>Fizetési előzmények</label>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>